body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #004d40; 
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header {
    top: 0;
}

.header-content img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-content img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover,
nav ul li a:focus {
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 80px 20px; 
    margin-top: 60px; 
    margin-bottom: 60px; 
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.social-icons {
    margin: 10px 0;
}

.social-icons img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.card p {
    color: #333;
    font-size: 14px;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        padding: 10px 0;
    }
}
